@font-face {
  font-family: "SUITE Variable";
  font-weight: 300 900;
  src: url("./storefarm/card/font/SUITE-Variable.woff2")
    format("woff2-variations");
}

* {
  font-family: "SUITE-Regular";
}
